<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  </script>
<% end %>

<main id="root">My secret is safe here. Nobody will find out that I'm a furry.</main>
