header {
  width: 100%;
  background: #333;
  height: 46px;
  font: 100 14px/1.5 "Interstate", "Lucida Grande", Arial, sans-serif;
  text-decoration: none;
  position: sticky;
  top: 0;
}


header * {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

header * {
  color: #ccc;
}

header *:hover {
  color: #fff;
}

.logged-in {
  max-width: 1240px;
  margin: auto;
  height: 100%;
}

.logged-out {
  max-width: 1240px;
  margin: auto;
  height: 100%;
}

.greeting-left {
  padding: 0px;
  display: flex;
  border-right: 1px solid #111;
}

.greeting-left * {
  padding: 12px 32px 12px;
}

.logged-in .logo-container {
  background: linear-gradient(#f70,#f30) no-repeat;
  padding: 0;
  width: 69px;
  height: 100%;
}

.logged-in .header-link {
  background: url(https://a-v2.sndcdn.com/assets/images/header/cloud-e365a47.png) no-repeat 12px 11px;
  width: 70px;
}

.logged-in .greeting-right {
  padding: 0px;
  display: flex;
}

.logged-in .greeting-right * {
  padding: 12px 10px 12px;
}

.user-dropdown {
  margin-right: 76px;
}

.logged-in .user-dropdown ul li {
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  padding: 0;
  width: 120px;
}

.logged-in .user-dropdown ul li:hover {
  background-color: #333;
}

.logged-in .user-dropdown ul {
  padding: 0;
  background: #333;
  position: absolute;
  top: 46px;
  flex-direction: column;
  background-color: #111;
  z-index: 999999;
}

.user-dropdown-show {
  background-color: #111;
}

.user-dropdown-hidden ul {
  display: none;
}

.user-dropdown:hover {
  cursor: pointer;
}

.logged-out .logo-container {
  background: linear-gradient(#f70,#f30) no-repeat;
  padding: 0;
  width: 184px;
  height: 100%;
}

.logged-out .header-link {
  background: url(https://a-v2.sndcdn.com/assets/images/header/cloud-e365a47.png) no-repeat 12px 11px;
  padding-left: 75px;
  width: 184px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.logged-out .greeting-right {
  padding: 0px;
  display: flex;
}

.login {
  padding: 2px 11px 2px 10px;
  border: 1px solid #666;
  border-radius: 3px;
  margin: 10px;
  color: #fff;
}

.login:hover {
  border: 1px solid #999;
}

.signup {
  color: #fff;
  background-color: #f50;
  padding: 2px 11px 2px 10px;
  border-radius: 3px;
  margin: 10px;
}
