header {
  width: 100%;
  background: #333;
  height: 47px;
  font: 100 14px/1.5 "Interstate", "Lucida Grande", Arial, sans-serif;
  text-decoration: none;
}

header * {
  display: flex;
  justify-content: space-between;
}

header * * {
  color: #ccc;
}

header * *:hover {
  color: #fff;
}

.logged-in {
  width: 1240px;
  margin: auto;
}

.logged-out {
  width: 1240px;
  margin: auto;
}

.greeting-left {
  padding: 0px;
  display: flex;
  border-right: 1px solid #111;
}

.greeting-left * {
  padding: 12px 30px 12px;
}

.logo-container {
  background: linear-gradient(#f70,#f30) no-repeat;
  padding: 0;
  width: 70px;
  height: 47px;
}

.header-link {
  background: url(https://a-v2.sndcdn.com/assets/images/header/cloud-e365a47.png) no-repeat 12px 12px;
  height: 0;
  padding-top: 47px;
  width: 69px;
}

.greeting-right {
  padding: 0px;
  display: flex;
}

.greeting-right * {
  padding: 12px 10px 12px;
}

.user-dropdown ul {
  background-color: #111;
  position: absolute;
  top: 46px;
  right: 0px;
}

.user-dropdown-ul-hidden {
  display: none;
}

.user-dropdown:hover {
  cursor: pointer;
}
