// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  width: 100%;
  // background: #333;
  height: 46px;
  color: #fff;
}

.greeting-left {
  float: left;
}

.greeting-right {
  float: right;
}

.logged-out {

}

.logged-in {

}
